<a href="https://colab.research.google.com/github/qweliant/DS-Unit-2-Kaggle-Challenge/blob/master/DS_Sprint_Challenge_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science, Unit 2_
 
# Sprint Challenge: Predict Steph Curry's shots üèÄ

For your Sprint Challenge, you'll use a dataset with all Steph Curry's NBA field goal attempts. (Regular season and playoff games, from October 28, 2009, through June 5, 2019.) 

You'll predict whether each shot was made, using information about the shot and the game. This is hard to predict! Try to get above 60% accuracy. The dataset was collected with the [nba_api](https://github.com/swar/nba_api) Python library.

In [0]:
%%capture
import sys

if 'google.colab' in sys.modules:
    # Install packages in Colab
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

In [0]:
# Read data
import pandas as pd
url = 'https://drive.google.com/uc?export=download&id=1fL7KPyxgGYfQDsuJoBWHIWwCAf-HTFpX'
df = pd.read_csv(url)

# Check data shape
assert df.shape == (13958, 20)

To demonstrate mastery on your Sprint Challenge, do all the required, numbered instructions in this notebook.

To earn a score of "3", also do all the stretch goals.

You are permitted and encouraged to do as much data exploration as you want.

**1. Begin with baselines for classification.** Your target to predict is `shot_made_flag`. What is your baseline accuracy, if you guessed the majority class for every prediction?

**2. Hold out your test set.** Use the 2018-19 season to test. NBA seasons begin in October and end in June. You'll know you've split the data correctly when your test set has 1,709 observations.

**3. Engineer new feature.** Engineer at least **1** new feature, from this list, or your own idea.
- **Homecourt Advantage**: Is the home team (`htm`) the Golden State Warriors (`GSW`) ?
- **Opponent**: Who is the other team playing the Golden State Warriors?
- **Seconds remaining in the period**: Combine minutes remaining with seconds remaining, to get the total number of seconds remaining in the period.
- **Seconds remaining in the game**: Combine period, and seconds remaining in the period, to get the total number of seconds remaining in the game. A basketball game has 4 periods, each 12 minutes long.
- **Made previous shot**: Was Steph Curry's previous shot successful?

**4. Decide how to validate** your model. Choose one of the following options. Any of these options are good. You are not graded on which you choose.
- **Train/validate/test split:¬†train on the 2009-10 season through 2016-17 season, validate with the 2017-18 season.** You'll know you've split the data correctly when your train set has 11,081 observations, and your validation set has 1,168 observations.
- **Train/validate/test split:¬†random 80/20%** train/validate split.
- **Cross-validation** with independent test set. You may use any scikit-learn cross-validation method.

**5.** Use a scikit-learn **pipeline** to **encode categoricals** and fit a **Decision Tree** or **Random Forest** model.

**6.** Get your model's **validation accuracy.** (Multiple times if you try multiple iterations.) 

**7.** Get your model's **test accuracy.** (One time, at the end.)


**8.** Given a **confusion matrix** for a hypothetical binary classification model, **calculate accuracy, precision, and recall.**

### Stretch Goals
- Engineer 4+ new features total, either from the list above, or your own ideas.
- Make 2+ visualizations to explore relationships between features and target.
- Optimize 3+ hyperparameters by trying 10+ "candidates" (possible combinations of hyperparameters). You can use `RandomizedSearchCV` or do it manually.
- Get and plot your model's feature importances.

In [0]:
import pandas as pd
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression, SelectKBest, f_classif
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.cluster import KMeans

In [0]:
def train_validate(df, test_set):
    train_set, validation_set = train_test_split(df, test_size=len(test_set), stratify=train['shot_made_flag'], random_state=2121)
    return train_set, validation_set

In [5]:
df.head()

    game_id  game_event_id  ...     season_type  scoremargin_before_shot
0  20900015              4  ...  Regular Season                      2.0
1  20900015             17  ...  Regular Season                      0.0
2  20900015             53  ...  Regular Season                     -4.0
3  20900015            141  ...  Regular Season                     -4.0
4  20900015            249  ...  Regular Season                      0.0

[5 rows x 20 columns]

In [6]:
df.dtypes

game_id                      int64
game_event_id                int64
player_name                 object
period                       int64
minutes_remaining            int64
seconds_remaining            int64
action_type                 object
shot_type                   object
shot_zone_basic             object
shot_zone_area              object
shot_zone_range             object
shot_distance                int64
loc_x                        int64
loc_y                        int64
shot_made_flag               int64
game_date                   object
htm                         object
vtm                         object
season_type                 object
scoremargin_before_shot    float64
dtype: object

In [0]:
df['game_date'] = pd.to_datetime(df['game_date'], infer_datetime_format=True)

In [8]:
df.dtypes

game_id                             int64
game_event_id                       int64
player_name                        object
period                              int64
minutes_remaining                   int64
seconds_remaining                   int64
action_type                        object
shot_type                          object
shot_zone_basic                    object
shot_zone_area                     object
shot_zone_range                    object
shot_distance                       int64
loc_x                               int64
loc_y                               int64
shot_made_flag                      int64
game_date                  datetime64[ns]
htm                                object
vtm                                object
season_type                        object
scoremargin_before_shot           float64
dtype: object

## 1. Begin with baselines for classification. 

>Your target to predict is `shot_made_flag`. What would your baseline accuracy be, if you guessed the majority class for every prediction?

In [9]:
target = 'shot_made_flag'
y_train = df[target]
y_train.value_counts(normalize = True)

0    0.527081
1    0.472919
Name: shot_made_flag, dtype: float64

# *The baseline tells me he made 52 percent of his shots*

## 2. Hold out your test set.

>Use the 2018-19 season to test. NBA seasons begin in October and end in June. You'll know you've split the data correctly when your test set has 1,709 observations.

In [10]:
df.game_date.dt.year.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [11]:
df.game_date.dt.month.unique()

array([10, 11, 12,  1,  2,  3,  4,  5,  6])

In [0]:
df['year'] = df.game_date.dt.year
df['month'] = df.game_date.dt.month

In [0]:
test1 = df[ (( df.year.isin([2018]) ) & ( df.month.isin([10,11,12]) )) ]
test2 = df[ (( df.year.isin([2019]) ) & ( df.month.isin([1,2,3,4,5,6]) )) ]

In [0]:
test = pd.concat([test1, test2] )

In [39]:
test.shape

(1709, 22)

## 3. Engineer new feature.

>Engineer at least **1** new feature, from this list, or your own idea.
>
>- **Homecourt Advantage**: Is the home team (`htm`) the Golden State Warriors (`GSW`) ?
>- **Opponent**: Who is the other team playing the Golden State Warriors?
>- **Seconds remaining in the period**: Combine minutes remaining with seconds remaining, to get the total number of seconds remaining in the period.
>- **Seconds remaining in the game**: Combine period, and seconds remaining in the period, to get the total number of seconds remaining in the game. A basketball game has 4 periods, each 12 minutes long.
>- **Made previous shot**: Was Steph Curry's previous shot successful?

In [40]:
df.select_dtypes(include='number').describe().T

                           count          mean  ...         75%         max
game_id                  13958.0  2.442837e+07  ...  21700963.0  41800403.0
game_event_id            13958.0  2.704385e+02  ...       398.0       752.0
period                   13958.0  2.412380e+00  ...         3.0         6.0
minutes_remaining        13958.0  4.727540e+00  ...         7.0        11.0
seconds_remaining        13958.0  2.850638e+01  ...        44.0        59.0
shot_distance            13958.0  1.760037e+01  ...        25.0        83.0
loc_x                    13958.0 -5.541625e-01  ...        95.0       247.0
loc_y                    13958.0  1.312580e+02  ...       219.0       811.0
shot_made_flag           13958.0  4.729188e-01  ...         1.0         1.0
scoremargin_before_shot  13958.0  1.615561e+00  ...         8.0        43.0
year                     13958.0  2.014703e+03  ...      2017.0      2019.0
month                    13958.0  5.503582e+00  ...        11.0        12.0

[12 rows x 8 columns]

In [42]:
df.select_dtypes(exclude='number').describe().T.sort_values(by='unique')

                 count unique  ...                first                 last
player_name      13958      1  ...                  NaN                  NaN
shot_type        13958      2  ...                  NaN                  NaN
season_type      13958      2  ...                  NaN                  NaN
shot_zone_range  13958      5  ...                  NaN                  NaN
shot_zone_area   13958      6  ...                  NaN                  NaN
shot_zone_basic  13958      7  ...                  NaN                  NaN
htm              13958     32  ...                  NaN                  NaN
vtm              13958     32  ...                  NaN                  NaN
action_type      13958     53  ...                  NaN                  NaN
game_date        13958    801  ...  2009-10-28 00:00:00  2019-06-05 00:00:00

[10 rows x 6 columns]

In [0]:
df.htm.unique()

In [0]:
df.head()

In [69]:
df.head(5)

    game_id  game_event_id    player_name  ...  month  hmct_advantage  consective
0  20900015              4  Stephen Curry  ...     10               1           0
1  20900015             17  Stephen Curry  ...     10               1           0
2  20900015             53  Stephen Curry  ...     10               1           0
3  20900015            141  Stephen Curry  ...     10               1           0
4  20900015            249  Stephen Curry  ...     10               1           0

[5 rows x 24 columns]

In [0]:
def wrangle(X):
    X = X.copy()

    home = X.htm.to_list()
    away = X.vtm.to_list()
    shot = X.shot_made_flag.to_list()

    for x in home:
        if x == 'GSW':
            X['hmct_advantage'] = 1
        else:
            X['hmct_advantage'] = 0

    for h, v in zip(home, away):
        if h == 'GSW':
            X['ops'] = v
        elif v == 'GSW':
            X['ops'] = h

    # consecutive =0
    # for s in shot
    #     if s == 1:
    #         consective += 1
    #     else:
    #         consective = 0
    #     df['consective'] = consecutive

    return X

## **4. Decide how to validate** your model. 

>Choose one of the following options. Any of these options are good. You are not graded on which you choose.
>
>- **Train/validate/test split:¬†train on the 2009-10 season through 2016-17 season, validate with the 2017-18 season.** You'll know you've split the data correctly when your train set has 11,081 observations, and your validation set has 1,168 observations.
>- **Train/validate/test split:¬†random 80/20%** train/validate split.
>- **Cross-validation** with independent test set. You may use any scikit-learn cross-validation method.

In [84]:

train_set, validation_set = train_validate(train, test)

KeyError: ignored

(7352, 24)

(1168, 24)

## 5. Use a scikit-learn pipeline to encode categoricals and fit a Decision Tree or Random Forest model.

## 6.Get your model's validation accuracy

> (Multiple times if you try multiple iterations.)

## 7. Get your model's test accuracy

> (One time, at the end.)

SyntaxError: ignored

## 8. Given a confusion matrix, calculate accuracy, precision, and recall.

Imagine this is the confusion matrix for a binary classification model. Use the confusion matrix to calculate the model's accuracy, precision, and recall.

<table>
  <tr>
    <td colspan="2" rowspan="2"></td>
    <td colspan="2">Predicted</td>
  </tr>
  <tr>
    <td>Negative</td>
    <td>Positive</td>
  </tr>
  <tr>
    <td rowspan="2">Actual</td>
    <td>Negative</td>
    <td style="border: solid">85</td>
    <td style="border: solid">58</td>
  </tr>
  <tr>
    <td>Positive</td>
    <td style="border: solid">8</td>
    <td style="border: solid"> 36</td>
  </tr>
</table>

### Calculate accuracy

### Calculate precision

### Calculate recall